.mdl-layout__header-row.custom-header {
  padding-left: 15px;
  padding-right: 15px;
}

.mdl-js-textfield.mdl-textfield {
  position: absolute;
  bottom: 10px;
  text-indent: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
  padding: 0;
  width: 95%;
  margin-left: 2vw;
  border-radius: 3px;
}

#sendMsg {
  font-size: 16px;
  width: 95%;
  height: 40px;
  border: transparent;
}

#sendMsg:focus {
  outline: 0;
  border: 0;
}

.message-container-overlay {
  background: #ebe4db;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mdl-button.mdl-button--icon {
  width: 50px;
  height: 50px;
  margin-right: -5px;
}

.mdl-button--icon .material-icons.custom-icon-close {
  font-size: 30px;
  left: 45%;
}

.mdl-layout__container .mdl-layout__content {
  overflow: hidden;
}

.page-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  background: #ebe4db;
}

.message-container p::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #e1ffc7 transparent transparent;
  top: 0;
  right: -7px;
}

.message-container p.user {
  float: left;
  background: #fff;
}

.message-container p.self {
  float: right;
}

.message-container div {
  clear: both;
}

.message-container div:last-child {
  margin-bottom: 170px;
}

.message-container p.user::after {
  border-color: #fff transparent transparent;
  top: 0;
  left: -7px;
}

.message-container p {
  min-width: 80px;
  max-width: 90vw;
  margin: 15px 20px 0 20px;
  border-radius: 5px;
  background: #e1ffc7;
  padding: 5px 10px;
  position: relative;
  box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.12), 0 2px 1px 0px rgba(0, 0, 0, 0.12);
}
