@import "reset.css";

html,
body {
  background: #ebe4db;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
}

*, :after, :before {
  box-sizing: border-box;
}

.mdl-layout__header-row.custom-header {
  padding-right: 15px;
  padding-left: 15px;
}

.mdl-layout {
  height: 100vh;
}

.user-input-container {
  width: 100%;
  position: absolute;
  bottom: 10px;
  background: #ebe4db;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mdl-layout-title.custom-title,
.custom-status {
  font-family: "Roboto", sans-serif;
}

.mdl-layout-title.custom-title {
  font-size: 16px;
  font-weight: 500;
}

.custom-status {
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  color: #fff;
}

input {
  position: relative;
  width: calc(100% - 90px);
  height: 45px;
  margin-left: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: transparent;
  border-radius: 6px;
  background: #fff;
  font-size: 17px;
  user-select: none;
  word-spacing: 1px;
  font-family: 'Roboto',sans-serif;
}

input:focus {
  border: 0;
  outline: 0;
}

input::-webkit-input-placeholder {
  color: #999;
}

.mdl-button.mdl-button--fab {
  background: #009688;
}

.material-icons {
  color: #fff;
}

.message-container-overlay.top {
  height: 8px;
  bottom: 57px;
  right: 10px;
}

.message-container-overlay {
  position: absolute;
  bottom: -1px;
  overflow: hidden;
  width: 100%;
  height: 11px;
  background: #ebe4db;
}

.message-container {
  padding-bottom: 70px;
  flex: 1;
  overflow-y: auto;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.noselect {
  user-select: none;
}

.mdl-button.mdl-button--icon:not(.custom-icon-intro) {
  margin-left: 10px;
}

.mdl-button.mdl-button--icon {
  width: 50px;
  height: 50px;
  margin-right: -5px;
}

.mdl-layout__container .mdl-layout__content {
  overflow: hidden;
}

.page-content {
  overflow: hidden;
  height: calc(100vh - 60px);
  background: #ebe4db;
  display: flex;
}

.message-container p::after {
  position: absolute;
  top: 0;
  left: -9px;
  width: 0;
  height: 0;
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent;
}

.message-container p.user {
  float: right;
  background: #e1ffc7;
}

.custom-icon-logo {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-top: -4px;
 }

.message-container p.self {
  float: left;
}

.message-container p.user::after {
  top: 0;
  right: -8px;
  left: initial;
  border-color: #e1ffc7 transparent transparent;
}

.message-container .msg {
  font-size: 14px;
  line-height: 19px;
  font-family: 'Roboto',sans-serif;
  word-wrap: break-word;
  color: rgb(38, 38, 38);
}

.message-container .material-icons {
  position: relative;
  top: 4px;
  right: 0;
  padding-left: 5px;
  color: #757575;
  font-size: 12px;
}

.message-container p {
  position: relative;
  clear: both;
  min-width: 80px;
  max-width: 90vw;
  margin: 10px 20px 0 20px;
  padding: 4px 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.12), 0 2px 1px 0px rgba(0, 0, 0, 0.12);
  font-family: 'Open Sans',sans-serif;
}

.message-container .timestamp {
  display: flex;
  height: 20px;
  color: #757575;
  font-size: 11px;
  flex-direction: row;
  align-items: flex-start;
  float: right;
  padding-left: 7px;
  padding-top: 4px;
  font-weight: 500;
}

.message-container .material-icons.schedule,
.mdl-navigation .mdl-navigation__link i {
  color: #757575;
}

.mdl-navigation .mdl-navigation__link i {
  margin-right: 10px;
}

.message-container div {
  clear: both;
}

.mdl-button--fab.mdl-button--mini-fab {
  width: 46px;
  height: 46px;
  max-width: 60px;
  background: #009688;
  position: initial;
  margin-bottom: 5px;
}

.mdl-button--fab.mdl-button--mini-fab:hover {
  background: #009688;
}

.mdl-button--fab.mdl-button--mini-fab:focus {
  box-shadow: none;
  background: #009688;
}

.mdl-button--fab.mdl-button--mini-fab i {
  text-indent: -17px;
  position: relative;
  top: 10px;
}

.modal-dialog {
  z-index: 100;
}

.modal-dialog,
.modal-dialog-overlay,
.modal-dialog-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-dialog-overlay {
  z-index: 99;
  background: rgba(0, 0, 0, 0.18);
}

.modal-dialog-content {
  z-index: 100;
  width: 300px;
  max-height: 155px;
  margin: auto;
  background: #fff;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.modal-dialog-content p {
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 20px;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 21px;
}

.modal-dialog-content h4 {
  margin-bottom: 0;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
  padding-top: 22px;
  margin-bottom: 2px;
}

.modal-dialog-actions {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 10px;
}

.modal-dialog-actions button:first-child {
  background-color: hsla(0,0%,62%,.2);
}

.mdl-button.close-chat {
  color: #fff;
  background: rgb(0,150,136);
}

.mdl-button.close-chat:active {
  background: rgb(0,150,136);
}

.modal-dialog-actions button {
  margin-left: 10px;
}

.spinner-container {
  background: #fff;
}

.spinner-container.none {
  display: none;
}

.spinner-container,
.spinner-container .mdl-spinner {
  position: absolute;
  z-index: 9999;
  top: 57px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.spinner-container .mdl-spinner {
  top: -60px
}

.spinner-container p {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 0px;
  margin: auto;
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: 400;
}

header .mdl-textfield--align-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-icon-intro i {
  transform: rotate(180deg);
}

.intro-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #ffffff;
  z-index: 9999;
}

.intro-screen-close label {
  left: -10px;
  top: 3px;
}

.intro-screen-close .material-icons.custom-icon-close {
  color: #000;
}

.intro-screen-close {
  float: right;
  margin-right: 5px;
}

.intro-screen-container img {
  width: 110px;
  height: 110px;
  display: block;
  margin: 0 auto;
}

.intro-screen-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 55px;
  margin: auto;
  width: 300px;
  height: 300px;
}

.intro-screen p,
.intro-screen h2 {
  font-family: 'Roboto',sans-serif;
}

.intro-screen p {
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
}

.intro-screen h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}

.intro-screen-footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}

.intro-screen-footer span {
  font-size: 10px;
}

.intro-screen-footer p {
  word-spacing: 1px;
  font-size: 16px
}

.intro-screen-footer a {
  color: #000;
  text-decoration: none;
}

.intro-screen-social {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 200px;
  justify-content: center;
}

.intro-screen-social img {
  width: 40px;
  height: 40px;
  margin: 40px 10px 0 10px;
  cursor: pointer;
}

.intro-screen-social img.github-logo {
  width: 39px;
  height: 39px;
  margin-top: 42px;
}
