/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  background: #ebe4db;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.app__layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  width: 100%;
  height: 56px;
  background-color: #333;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
}

.header__content {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 16px;
  font-weight: 600;
}

.header__logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header__status {
  font-size: 12px;
  margin-top: 6px;
  color: #fff;
  font-weight: 500;
}

.header__spacer {
  flex-grow: 1;
}

.header__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__icons label {
  height: 45px;
  width: 45px;
  display: block;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.header__icons label:active {
  background: rgba(252, 252, 252, 0.08);
}

.header__icons label:not(:last-child) {
  margin-right: 5px;
}

.header__icon--close {
  margin-left: 10px;
}

.header__close-icon {
  width: 29px;
  height: 29px;
  margin-top: 9px;
}

.header__icon {
  width: 27px;
  height: 27px;
  margin-top: 10px;
}

.app__content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.app__input-container {
  width: 100%;
  height: 50px;
  position: relative;
  margin-bottom: 8px;
}

.app__input {
  height: inherit;
}

.app__input input {
  position: relative;
  border: transparent;
  background: #fff;
  font-size: 17px;
  resize: none;
  width: calc(100% - 80px);
  height: inherit;
  padding-left: 15px;
  outline: none;
  border-radius: 4px;
  margin-left: 8px;
}

.app__input img {
  margin-left: 4px;
  margin-top: 2px;
  width: 30px;
  height: 30px;
}

.app__input button {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  background: #EC407A;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-tap-highlight-color: transparent;
}

.app__input button:active {
  opacity: 0.9;
}

.spinner__container {
  background: #fff;
}

.spinner__container.none {
  display: none;
}

.spinner__container {
  position: absolute;
  z-index: 9999;
  top: 57px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.spinner__container p {
  position: absolute;
  top: -30px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 0px;
  margin: auto;
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.message__container p::after {
  position: absolute;
  top: 0;
  left: -9px;
  width: 0;
  height: 0;
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent;
}

.message__container p.user {
  float: right;
  background: #e1ffc7;
}

.message__container p.self {
  float: left;
}

.message__container p.user::after {
  top: 0;
  right: -8px;
  left: initial;
  border-color: #e1ffc7 transparent transparent;
}

.message__container .msg {
  font-size: 14px;
  line-height: 19px;
  word-wrap: break-word;
  color: rgb(38, 38, 38);
}

.message__container img {
  position: relative;
  top: 4px;
  right: -5px;
  width: 14px;
  height: 14px;
}

.message__container p {
  position: relative;
  clear: both;
  min-width: 40px;
  max-width: 85vw;
  margin: 15px 20px 0 20px;
  padding: 4px 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.12), 0 2px 1px 0px rgba(0, 0, 0, 0.12);
}

.message__container div:last-of-type p {
  margin-bottom: 10px;
}

.message__container .timestamp {
  display: flex;
  height: 20px;
  color: #757575;
  font-size: 10px;
  flex-direction: row;
  align-items: flex-start;
  float: right;
  padding-left: 7px;
  padding-top: 4px;
  font-weight: 500;
}

.intro__screen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #ffffff;
  z-index: 9999;
}

.intro__screen-close {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
}

.intro__screen-close img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.intro__screen-close:active {
  opacity: 0.9;
  background-color: #ececec;
}

.intro__screen-container img {
  width: 130px;
  height: 130px;
  display: block;
  margin: 0 auto;
}

.intro__screen-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: -55px;
  margin: auto;
  width: 300px;
  height: 300px;
}

.intro__screen p {
  text-align: center;
  font-size: 15px;
  margin-top: 18px;
  font-style: italic;
}

.intro__screen h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}

.intro__screen-footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  user-select: none;
}

.intro__screen-footer span {
  font-size: 17px;
  color: #f30b0b;
}

.intro__screen-footer p {
  word-spacing: 1px;
  font-size: 16px
}

.intro__screen-footer a {
  color: #000;
  text-decoration: none;
}

.intro__screen-social {
  display: flex;
  flex-direction: row;
  margin: 25px auto;
  width: 160px;
  justify-content: space-around;
  user-select: none;
}

.intro__screen-social img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.intro__screen-social img.github-logo {
  width: 38px;
  height: 38px;
  margin-top: 3px;
  margin-left: 1px;
}
