html,
body {
  height: 100%;
  padding: 0;
  background: #ebe4db;
  font-family: 'Roboto', sans-serif;
}

.mdl-layout__header-row.custom-header {
  padding-right: 15px;
  padding-left: 15px;
}

.mdl-layout__container .mdl-layout {
  height: 100vh;
}

.mdl-js-textfield.mdl-textfield {
  position: absolute;
  bottom: 10px;

  width: 95%;
  margin-left: 2vw;
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  text-indent: 10px;
  border-radius: 3px;
}

.mdl-layout-title.custom-title {
  position: relative;
  top: -8px;
  font-size: 16px;
  font-weight: 500;
}

.custom-status {
  position: absolute;
  top: 30px;
  left: 59px;
  font-size: 12px;
}

input {
  position: relative;
  width: calc(100vw - 100px);
  height: 45px;
  margin-left: -2.5vw;
  padding-left: 10px;
  border: transparent;
  border-radius: 6px;
  background: #fff;
  font-size: 16px;
}

input:focus {
  border: 0;
  outline: 0;
}

.mdl-button.mdl-button--fab {
  background: #009688;
}

.material-icons {
  color: #fff;
}

.message-container-overlay {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 10px;

  background: #ebe4db;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.mdl-button.mdl-button--icon {
  width: 50px;
  height: 50px;
  margin-right: -5px;
}

.mdl-button--icon .material-icons.custom-icon-close {
  left: 45%;
  font-size: 30px;
}

.mdl-layout__container .mdl-layout__content {
  overflow: hidden;
}

.page-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 60px);
  background: #ebe4db;
}

.message-container p::after {
  position: absolute;
  top: 0;
  left: -9px;
  width: 0;
  height: 0;
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent;
}

.message-container p.user {
  float: right;
  background: #e1ffc7;
}

.custom-icon-logo {
  width: 24px;
  height: 28px;
  margin-right: 20px;
  padding-top: 4px;
 }

.message-container p.self {
  float: left;
}

.message-container p.user::after {
  top: 0;
  right: -8px;
  left: initial;
  border-color: #e1ffc7 transparent transparent;
}

.message-container .msg {
  padding-right: 10px;
  text-align-last: justify;
  word-break: break-all;
}

.message-container .material-icons {
  position: relative;
  top: 5px;
  right: 0;
  padding-left: 5px;
  color: #03A9F4;
  font-size: 12px;
}

.message-container p {
  position: relative;
  clear: both;
  min-width: 80px;
  max-width: 90vw;
  margin: 10px 20px 0 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 0 -1px rgba(0, 0, 0, 0.12), 0 2px 1px 0px rgba(0, 0, 0, 0.12);
  font-family: 'Roboto', sans-serif;
}

.message-container .timestamp {
  display: flex;
  height: 20px;
  color: #9E9E9E;
  font-size: 10px;
  justify-content: flex-end;
}

.message-container .material-icons.schedule {
  color: #9E9E9E;
}

.message-container div {
  clear: both;
}

.mdl-button--fab.mdl-button--mini-fab {
  right: 1px;
  bottom: 1px !important;

  width: 45px !important;
  max-width: 60px;
  height: 45px !important;

  background: #009688;
}

.mdl-button--fab.mdl-button--mini-fab:hover {
  background: #009688;
}

.mdl-button--fab.mdl-button--mini-fab i {
  text-indent: 3px;
}

.modal-dialog { z-index: 100; }
.modal-dialog,
.modal-dialog-overlay,
.modal-dialog-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-dialog-overlay {
  z-index: 99;
  background: rgba(0, 0, 0, 0.3);
}

.modal-dialog-content {
  z-index: 100;
  width: 80%;
  height: fit-content;
  margin: auto;
  background: #fff;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

.modal-dialog-content p {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 20px;
  margin-bottom: 0;
  font-size: 15px;
}

.modal-dialog-content h4 {
  margin-bottom: 0;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

.modal-dialog-actions {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 20px;
}

.mdl-button.close-chat {
  color: #fff;
  background: rgb(0,150,136);
}

.mdl-button.close-chat:active {
  background: rgb(0,150,136);
}

.modal-dialog-actions button {
  margin-left: 10px;
}

.spinner:before {
  -webkit-animation: spin 1.1s infinite linear;
  animation: spin 1.1s infinite linear;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
}

.spinner {
  position: absolute;
  top: -80px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin: auto;
  border-color: white;
  border-top-color: transparent;
}

.spinner-container {
  background: #fff;
}

.spinner-container,
.spinner-container .mdl-spinner {
  position: absolute;
  z-index: 9999;
  top: 57px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.modal-dialog .modal-dialog-content {
  min-height: 170px;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

.path {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;

  stroke-dasharray: 187;
  stroke-dashoffset: 0;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    stroke-dashoffset: 46.75;
  }
  100% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
    stroke-dashoffset: 187;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    stroke-dashoffset: 46.75;
  }
  100% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
    stroke-dashoffset: 187;
  }
}

.spinner-container p {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 0px;
  margin: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
